canvas{
    background-color:white;
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top:25%;
    border-radius:20px;
}
@keyframes example{
   from{box-shadow:5px 5px 5px grey};
   to{box-shadow:5px 5px 5px white};

}
body{
    background-size:cover;
}
h1,h4{
    background-color:lightskyblue;
    font-family: 'Gwendolyn', cursive;
font-weight: bold;
font-size: 45px;
}
button{
    font-size:30px;
}
p{
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size:35px;
    font-weight: bolder;
}
h1,p{
    padding:10px;
}